.app {
  background: #209cee;
  padding: 10%;
  min-height: 100vh;
}
.todos {
  display: flex;
  flex-direction: column;
  background: #e8e8e8;
  border-radius: 10px;
  padding: 15px;
}

.todo-add {
  margin-bottom: 15px;
  font-size: 24px;
}

.todo-list {
  margin-top: 15px;
}

.todo {
  background: #ffffff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 24px;
  margin-bottom: 6px;
  border-radius: 3px;
  align-items: center;
  justify-content: space-between;
}

.sort-button-group {
  display: flex;
}

.sort-button {
  flex: 1;
  height: 50px;
  padding: 0 5%;
  font-size: 24px;
}

.single-todo-done {
  flex: 9;
  background-color: red;
}

.single-todo {
  flex: 9;
  background-color: aquamarine;
}

.due-date {
  margin-top: 12px;
  font-size: 12px;
}

button.todo-button {
  flex: 1;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  font-size: 24px;
}
